 html {
      scroll-behavior: smooth;
    }

body
{
 margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden;
      background: url('https://miro.medium.com/v2/resize:fit:1358/1*q8HNVIql60d46VWjI5i2CQ.gif') no-repeat center center fixed;
      background-size: cover;
      overflow: auto; 
  
}
